/* 
https://webfontworld.github.io/cafe24/Cafe24Ohsquareair.png
https://webfontworld.github.io/cafe24/Cafe24Ohsquareair.css 
https://wess.tistory.com/204
*/

@font-face {
    font-family: 'Cafe24Ohsquareair';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Ohsquareair.woff2) format('woff2');
    font-display: swap;
}