/* 
https://webfontworld.github.io/cafe24/Cafe24Shiningstar.png
https://webfontworld.github.io/cafe24/Cafe24Shiningstar.css 
https://wess.tistory.com/206
*/

@font-face {
    font-family: 'Cafe24Shiningstar';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Shiningstar.woff2) format('woff2');
    font-display: swap;
}