/* 
https://webfontworld.github.io/cafe24/Cafe24Dongdong.png
https://webfontworld.github.io/cafe24/Cafe24Dongdong.css 
https://wess.tistory.com/211
*/

@font-face {
    font-family: 'Cafe24Dongdong';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Dongdong.woff2) format('woff2');
    font-display: swap;
}