/* 
https://webfontworld.github.io/cafe24/Cafe24Syongsyong.png
https://webfontworld.github.io/cafe24/Cafe24Syongsyong.css 
https://wess.tistory.com/213
*/

@font-face {
    font-family: 'Cafe24Ssukssuk';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Syongsyong.woff2) format('woff2');
    font-display: swap;
}