/* 
https://webfontworld.github.io/cafe24/Cafe24Oneprettynight.png
https://webfontworld.github.io/cafe24/Cafe24Oneprettynight.css 
https://wess.tistory.com/207
*/

@font-face {
    font-family: 'Cafe24Oneprettynight';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Oneprettynight.woff2) format('woff2');
    font-display: swap;
}