/* 
https://webfontworld.github.io/cafe24/Cafe24SsurroundAir.png
https://webfontworld.github.io/cafe24/Cafe24SsurroundAir.css 
https://wess.tistory.com/202
*/

@font-face {
    font-family: 'Cafe24SsurroundAir';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24SsurroundAir.woff2) format('woff2');
    font-display: swap;
}